In [42]:
import json
import pandas as pd
json_path = './gt/gt_json/train-window-double_16_4.json'
with open(json_path, 'r') as jsonfile:
    data = json.load(jsonfile)
jsonfile.close()

In [57]:
index_list = [x for x in range(58)]
l_dict = {}
r_dict = {}

for index in index_list:
    l_dict[index] = 0
for index in index_list:
    r_dict[index] = 0
print(l_dict,r_dict)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0} {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0}

In [58]:
for file_name in data:
    l_dict[data[file_name]['l']['index']] += 1/len(data)
#     r_dict[data[file_name]['r']['index']] += 1/len(data)
#     l_dict[data[file_name]['l']['index']] += 1
    r_dict[data[file_name]['r']['index']] += 1

In [59]:
l_frame = pd.DataFrame.from_dict(l_dict,orient='index').transpose()
r_frame = pd.DataFrame.from_dict(r_dict,orient='index').transpose()

In [60]:
l_frame.transpose()

           0
0   0.246975
1   0.302718
2   0.026979
3   0.035310
4   0.020234
5   0.024003
6   0.014481
7   0.019639
8   0.013688
9   0.018449
10  0.010514
11  0.013886
12  0.010712
13  0.010712
14  0.008927
15  0.007935
16  0.007737
17  0.010712
18  0.005951
19  0.007737
20  0.005554
21  0.006546
22  0.003174
23  0.007340
24  0.005554
25  0.006348
26  0.005951
27  0.005554
28  0.005554
29  0.005356
30  0.003571
31  0.005356
32  0.005554
33  0.005356
34  0.003571
35  0.003769
36  0.003769
37  0.005158
38  0.002777
39  0.004563
40  0.002976
41  0.006150
42  0.002380
43  0.004166
44  0.001984
45  0.003372
46  0.002976
47  0.003967
48  0.003967
49  0.004166
50  0.003174
51  0.004761
52  0.002777
53  0.005554
54  0.003571
55  0.003967
56  0.009720
57  0.012696

In [61]:
r_frame.transpose()

       0
0     56
1     72
2     12
3     22
4     21
5     15
6     19
7     15
8     22
9     16
10    20
11    20
12    16
13    21
14    18
15    22
16    13
17    24
18    14
19    20
20    14
21    17
22    11
23    24
24    20
25    16
26    31
27    25
28    14
29    30
30    25
31    19
32    32
33    32
34    37
35    39
36    35
37    44
38    33
39    32
40    43
41    47
42    32
43    40
44    59
45    64
46    73
47    66
48    65
49    82
50   109
51    80
52    94
53   107
54   142
55   148
56  1262
57  1540

In [2]:
import torch
# from .patch_dataset import Patch_Dataset
from patch_dataset import Patch_Dataset
from torch.utils.data import DataLoader
import sys
import torch.nn as nn
# from .dataset import Dataset
from resnet import ResNet50
# from adamp import AdamP
import numpy as np
import os
from torch.optim.lr_scheduler import StepLR


os.environ["CUDA_VISIBLE_DEVICES"] = "1"
valid_dataset = Patch_Dataset('/home/ubuntu/database/database/sun/val/','/home/ubuntu/database/edge-connect/gt/gt_json/val-window-double_16_4.json')

def cal_candidate(window_width,stride):
    candidate_number = int(2 * ((128 - window_width)/stride + 1))
    return candidate_number

def train(valid_dataset):

    valid_loader = DataLoader(
    dataset= valid_dataset,
    batch_size= 1,
    num_workers=0,
    shuffle=True
    )
    if torch.cuda.is_available():
        device = torch.device("cuda")
    num_classes = 2 * cal_candidate(16,4) # l , r 각각 필요하므로
    print(num_classes)
    model = ResNet50(num_classes)
    model.load_state_dict(torch.load('/home/ubuntu/database/edge-connect/patch_models/.pth'))
    model.to(device)
    loss_fn = nn.CrossEntropyLoss() #criterian
    learning_rate = 0.001
    l_valid_accuracy = []
    r_valid_accuracy = []
    print('검사 시작..')
    with torch.no_grad():
        model.eval()
        valid_loss = 0
        count = 0
        for items,l_prob,r_prob in valid_loader:
            items = items.to(device)
            # prob = torch.cat((l_prob,r_prob),dim=1)
            logits = model(items)
            logits_len = logits.shape[1]
            l_logits = logits[:,:logits_len//2]
            r_logits = logits[:,logits_len//2:]
            l_gt = torch.argmax(l_prob, dim=1).flatten().to(device)
            r_gt = torch.argmax(r_prob, dim=1).flatten().to(device)

            loss_ = loss_fn(l_logits,l_gt) + loss_fn(r_logits,r_gt)

            l_pred = torch.argmax(l_logits, dim=1).flatten()
            r_pred = torch.argmax(r_logits, dim=1).flatten()
            l_accuracy = (l_pred == l_gt).cpu().numpy().mean()
            r_accuracy = (r_pred == r_gt).cpu().numpy().mean()
            l_valid_accuracy.append(l_accuracy)
            r_valid_accuracy.append(r_accuracy)
            count+=1
            valid_loss += loss_.item()

train(valid_dataset)

ModuleNotFoundError: No module named 'adamp'